.wh88{
    width: 80px;
    height: 80px;
}
header{
    box-shadow: 0 0 5px rgb(200,200,200);
}
.container h1{
    text-align: center;
    margin: 27px;
}
.col-md-8{
    padding: 35px;
}
.bor{
    border-bottom: 1px solid rgb(150,150,105);
    margin: 40px 0;
    height: 1px;
}
.rr{
    background: rgb(95, 65, 163);
}
.ccen{
    text-align: center;

}
.mmar{
    margin: 10px;
}
html{
    scroll-behavior: smooth;
}



